# Build
/build/
/build-*/
/out/
/cmake-build-*/
/.qt/
/.vcpkg/
*.o
*.obj
*.a
*.lib
*.dll
*.exe
*.pdb

# Qt
*.qmlc
*.jsc
qrc_*.cpp
moc_*.cpp
moc_*.h
ui_*.h
*.qmake.stash
.qmake.cache
aqtinstall.log

# IDE
.vscode/
.idea/
*.user
CMakeCache.txt
CMakeFiles/
compile_commands.json

# OS
.DS_Store
Thumbs.db
